/* Variables */

$color-darker: #222831;
$color-dark: #393e46;
$color-main: #00adb5;
$color-bright: #eeeeee;

$font-heading: 'Nunito', sans-serif;
$font-text: 'Poppins', sans-serif;

$transition: 1s;

/* Global */



/* Responsive */

