/* Variables */

$color-darker: #222831;
$color-dark: #393e46;
$color-main: #00adb5;
$color-bright: #eeeeee;

$font-heading: 'Nunito', sans-serif;
$font-text: 'Poppins', sans-serif;

$transition: 0.5s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: $font-text;
    font-size: 16px;
    background-color: $color-darker;
    color: $color-bright;
}

.container {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.title {
    font-family: $font-heading;
    font-size: 48px;
    margin: 0;
}

.subtitle {
    font-family: $font-heading;
    font-size: 28px;
    margin-top: 36px;
    margin-bottom: 48px;
}

button {
    border: none;
    background-color: $color-main;
    color: $color-bright;
    font-family: $font-heading;
    .icon-hover { display: none; }
}

button:hover {
    transition: $transition;
    .icon { display: none; }
    .icon-hover { display: block; }
}

/* Header */

header {
    height: 80px;
    width: 100%;
    background-color: $color-dark;
    padding: 0 24px;
    .flex-header {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 26px;
            color: $color-bright;
        }
        .button-help {
            background-color: transparent;
        }
    }
}

/* Landing Page */

.landing-page {
    flex: 1;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .button-start {
        margin: 24px 0;
        padding: 0 24px;
        height: 48px;
        border-radius: 12px;
        font-family: $font-heading;
        font-size: 18px;
    }
    
}

/* Game */

.game {
    flex: 1;
    margin: 24px;
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    .result {
        flex: 1;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 72px;
    }
    .messages {
        flex: 1;
        width: 75%;
        min-height: 150px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2;
        border: 2px solid $color-main;
        border-radius: 12px;
    }
    .buttons {
        flex: 1;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    .button-move {
        height: 100px;
        width: 100px;
        border-radius: 12px;
        i {
            font-size: 50px;
        }
    }
}

/* Instructions */

.instructions {
    flex: 1;
    margin: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    i {
        font-size: 26px;
        margin: 12px;
        color: $color-main;
        vertical-align: middle;
    }
    span {
        color: $color-main;
    }
}

/* Responsive */

@media only screen and (max-width: 2560px) {
    section {
        height: 100vh;
    }
    .flex-container {
        margin-top: -80px;
        flex-direction: row;
    }
}
@media only screen and (max-width: 768px) {
    section {
        height: fit-content;
    }
    .flex-container {
        margin-top: 0;
        flex-direction: column;
    }
}